html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

html, body {
  min-width: 1100px; }

body {
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #FFF;
  color: #000;
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #2e3977; }
  a:visited {
    color: #2e3977; }
  a:focus {
    color: #2e3977; }
  a:hover {
    color: #2e3977; }
  a:active {
    color: #2e3977; }
  a:hover {
    text-decoration: none; }

p {
  line-height: 1.3;
  margin-bottom: 1em; }

/*------------------------------------------------------- */
.root-container {
  position: relative;
  overflow: hidden; }

.g--wrapper {
  max-width: 1100px;
  min-width: 320px;
  margin: 0 auto; }

.g--h1,
.g--h2,
.g--h3,
.g--h4,
.g--h5,
.g--h6 {
  line-height: 1;
  font-weight: 500; }

.g--h1 {
  font-size: 45px;
  color: #FFF;
  font-weight: 500;
  margin-bottom: 0.5em; }

.g--h2 {
  font-size: 30px; }

.g--h3 {
  font-size: 1.5rem; }

.g--h4 {
  font-size: 1.3rem; }

.g--h5 {
  font-size: 1.1rem; }

.g--h6 {
  font-size: 1rem; }

/*-------------------------BUTTONS------------------------------- */
.g--btn {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  line-height: 50px;
  width: 300px;
  border: 0;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #0079bb;
  text-align: center;
  cursor: pointer;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out; }
  .g--btn:visited {
    color: #ffffff; }
  .g--btn:focus {
    color: #ffffff; }
  .g--btn:hover {
    color: #ffffff; }
  .g--btn:active {
    color: #ffffff; }
  .g--btn:hover {
    background-color: #1b56a0; }
  .g--btn:active {
    background-color: #1f62b6; }
  .g--btn_sm {
    min-width: 250px; }

/*-------------------------BUTTONS END------------------------------- */
/*-------------------------SLICK------------------------------- */
/*-----------------------------HEADER--------------------------- */
.contacts {
  *zoom: 1;
  font-size: 0; }
  .contacts:after {
    content: "";
    display: table;
    clear: both; }
  .contacts__col {
    width: 50%;
    float: left;
    padding-top: 27px;
    font-size: 17px; }
    .contacts__col_left {
      padding-left: 35px; }
      .contacts__col_left p {
        margin-bottom: 10px; }
    .contacts__col_right {
      padding-right: 35px;
      text-align: right;
      padding-left: 163px;
      line-height: 25px; }
      .contacts__col_right p {
        position: relative; }
        .contacts__col_right p:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 46px;
          width: 40px;
          background: url("../images/phone_gray.png") center left no-repeat; }
  .contacts__mails {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding-left: 45px;
    line-height: 24px; }
    .contacts__mails:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 48px;
      width: 34px;
      background: url("../images/email_gray.png") center left no-repeat; }
  .contacts p {
    font-size: 17px; }
    .contacts p span {
      font-weight: bold; }
  .contacts a {
    display: inline-block;
    font-size: 17px;
    text-decoration: none; }
    .contacts a:active {
      text-decoration: none; }

.header {
  position: relative; }
  .header__wrapper {
    position: relative;
    background: transparent url("../images/bg/header.jpg") center 0 no-repeat;
    height: 636px;
    z-index: 2; }
  .header__line {
    height: 68px;
    width: 100%;
    position: absolute;
    top: 130px;
    left: 0;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjNWI4YiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMmM1YjhiIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMxNTRhN2UiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNTRhN2UiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #2c5b8b), color-stop(50%, #2c5b8b), color-stop(50%, #154a7e), color-stop(100%, #154a7e));
    background-image: -moz-linear-gradient(left, #2c5b8b 0%, #2c5b8b 50%, #154a7e 50%, #154a7e 100%);
    background-image: -webkit-linear-gradient(left, #2c5b8b 0%, #2c5b8b 50%, #154a7e 50%, #154a7e 100%);
    background-image: linear-gradient(to right, #2c5b8b 0%, #2c5b8b 50%, #154a7e 50%, #154a7e 100%); }
  .header__lozung {
    height: 68px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 130px;
    background-color: rgba(13, 61, 112, 0.7); }
    .header__lozung .g--h2 {
      color: #fffac2;
      text-transform: uppercase;
      font-size: 30px;
      line-height: 68px;
      font-weight: 500; }
  .header__description {
    text-align: center;
    padding: 257px 95px 0; }
    .header__description p {
      font-size: 33px;
      font-weight: 400;
      line-height: 40px;
      color: #FFF; }
  .header__btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(50%);
    -ms-transform: translateX(-50%) translateY(50%);
    -webkit-transform: translateX(-50%) translateY(50%);
    transform: translateX(-50%) translateY(50%); }
  .header__contacts__col {
    color: #fff; }
  .header__contacts p {
    color: #fff; }
    .header__contacts p span {
      color: #fffac2; }
  .header__contacts a {
    color: #fff; }
    .header__contacts a:visited {
      color: #fff; }
    .header__contacts a:focus {
      color: #fff; }
    .header__contacts a:hover {
      color: #fff; }
    .header__contacts a:active {
      color: #fff; }
  .header__contacts .contacts__mails:before {
    background-image: url("../images/mail.png"); }
  .header__contacts .contacts__col_right p:before {
    background-image: url("../images/phone.png"); }

/*-----------------------------HEADER END--------------------------- */
.content {
  position: relative;
  z-index: -1;
  margin-top: -25px;
  height: 1070px;
  background: transparent url("../images/bg/2.jpg") center center no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; }
  .content__wrapper {
    position: relative;
    height: 100%; }
  .content__line {
    position: absolute;
    height: 110px;
    left: 0;
    width: 100%; }
    .content__line_top {
      top: 0;
      background: rgba(255, 255, 255, 0.8); }
    .content__line_bottom {
      top: 960px;
      background: rgba(255, 255, 255, 0.8); }
  .content__left-field {
    position: absolute;
    left: 0;
    width: -moz-calc(50% - 550px);
    width: -webkit-calc(50% - 550px);
    width: calc(50% - 550px); }
    .content__left-field_1 {
      height: 790px;
      top: 110px;
      background: rgba(255, 255, 255, 0.4); }
    .content__left-field_2 {
      background: #638ec1;
      height: 60px;
      top: 900px;
      widht: -moz-calc(50% - 550px);
      widht: -webkit-calc(50% - 550px);
      widht: calc(50% - 550px); }
  .content__right-field {
    position: absolute;
    left: 0;
    left: -moz-calc(50% + 550px);
    left: -webkit-calc(50% + 550px);
    left: calc(50% + 550px);
    width: -moz-calc(50% - 550px);
    width: -webkit-calc(50% - 550px);
    width: calc(50% - 550px); }
    .content__right-field_1 {
      top: 110px;
      height: 147px;
      background: rgba(255, 255, 255, 0.8); }
    .content__right-field_2 {
      top: 257px;
      height: 60px;
      background: #abcef1; }
    .content__right-field_3 {
      top: 317px;
      height: 643px;
      background: rgba(255, 255, 255, 0.8); }
  .content__paralel {
    height: 850px;
    width: 250px;
    position: absolute;
    top: 110px;
    left: 0;
    background: rgba(255, 255, 255, 0.4); }
  .content__traingle {
    position: absolute;
    top: 110px;
    right: 0;
    height: 850px;
    width: 850px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC44Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(50%, rgba(255, 255, 255, 0.4)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0.8)));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 100%);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 100%);
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 100%); }
